.a-box {
  display: inline-block;
  width: 240px;
  text-align: center;
}

.img-container {
  height: 230px;
  width: 200px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.img-container img {
  transform: skew(0deg, -13deg);
  height: 180px;
  margin: 10px;
}

.inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: white;
  height: 250px;
  width: 200px;
}

.text-container {
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #00b4d8;
  margin: -120px 0px 0px 0px;
  line-height: 20px;
  font-size: 16px;
  color: white;
}

.text-container:hover {
  box-shadow: 0px 0px 10px 0px #ff9f1c;
}

.text-container h2 {
  margin: 20px 0px 10px 0px;
  color: #ffbf69;
  font-size: 19px;
  font-weight: 700;
}
