.width-75{
    width: 75px;
}

.border-bottom-black-2px {
    border-bottom: 2px solid black;
}

.no-decorations{
    text-decoration: none;
}

.color-default{
    color: inherit;
}

.underline:hover{
    text-decoration: underline;
}

.white-background{
    background-color: white;
}

.padding-half-a-rem{
    padding: 0.5rem;
}

.font-size-17{
    font-size: 17px;
}